* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-size: 1.6rem;
  background-color: #000;
}

#page {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100vh;
  max-width: 112rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.header__logo {
  width: 18.6rem;
}

.header__input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;

  width: 100%;
  max-width: 64rem;

  height: 4.8rem;
}

.header__input-container input {
  border: none;
  border-radius: 4px;

  padding: 1.6rem;
  width: 100%;

  font-size: 1.6rem;
  color: #7c7c8a;
  line-height: 100%; /* 16px */

  background-color: #06181c;

  height: 4.8rem;
}

.header__input-container input::placeholder {
  color: #7c7c8a;
}

.header__input-container button {
  display: flex;
  gap: 0.8rem;

  border-radius: 4px;
  border: none;

  padding: 1.2rem 3.2rem;
  background-color: #065e7c;
  color: #fff;

  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__input-container button:hover {
  background-color: #fff;
  color: #065e7c;
}

.header__input-container button:hover path {
  fill: #065e7c;
}

.main {
  width: 100%;
  margin-top: 8.6rem;
}

.table {
  display: block;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1.2rem;
  border: 1px solid #065e7c;

  height: 70rem;
  overflow-y: auto;
}

.table th {
  width: 100%;
}

.table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

.table::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
  background-color: #4a808c;
  border-radius: 12px;
}

.table,
.table__btn-remove {
  color: #e1e1e6;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.table tr {
  height: 10.4rem;
}

.table tr:nth-child(even) {
  border: 1px solid #4a808c;
  background-color: #06181c;
}

.table th,
.table td {
  padding: 1.6rem 4rem;
  text-align: start;
}

.table th:first-child {
  border-top-left-radius: 1.2rem;
}

.table th:last-child {
  border-top-right-radius: 1.2rem;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

.table__head tr {
  background-color: #092d38;
  color: #fff;
}

.table__head th {
  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user-wrapper img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.user-wrapper > div {
  display: flex;
  flex-direction: column;

  color: #fff;
}

.user-wrapper > div span {
  font-weight: 400;
}

.table__btn-remove {
  border: none;
  background-color: transparent;

  cursor: pointer;
  color: #f75a68;
}

.table__btn-remove:hover {
  color: #f7626f;
  filter: brightness(1.1);
}

.table__body {
  max-height: 60rem;
  overflow-y: scroll;
}

.table__empty-data {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  color: #4e5455;
  font-family: monospace;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

h2 img {
  width: 13.2rem;
  height: 12.4rem;
}
